<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Journal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-accordion-group>
      <ion-accordion
        *ngFor="let week of weeklySummaries"
        value="{{ week.weekStart }}"
      >
        <ion-item slot="header">
          <ion-label>
            Week of {{ week.weekStart }}
            <p>Total: {{ week.totalCalories }} kcal</p>
          </ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item *ngFor="let item of week.foods">
            <ion-label>
              <h3>{{ item.name }}</h3>
              <p>{{ item.nutriments?.['energy-kcal'] || 0 }} kcal</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
