<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Journal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-accordion-group>
      <ion-accordion
        *ngFor="let week of weeklySummaries"
        value="{{ week.weekStart }}"
      >
        <ion-item slot="header" color="light">
          <ion-label>
            week {{ week.weekStart }}
            <p>{{ week.totalCalories }} total calories</p>
          </ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item *ngFor="let item of week.foods">
            <ion-label>
              <h3>{{ item.name }}</h3>
              <p>{{ getTotalCalories(item) }} calories</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>
</ion-content>
