<ion-header>
  <ion-toolbar>
    <ion-title> Pantry Settings </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"
        ><ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="pantryCreated">
    <ion-button
      class="ion-margin-top"
      shape="round"
      color="danger"
      style="padding: 10px"
      (click)="deleteMyPantry()"
      >delete my pantry</ion-button
    >
  </div>
</ion-content>
